<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <link href="static/style.css" rel="stylesheet">
  
  <title>Как бы ISP :: Главная</title>

</head>

<body>

    <h1>Как бы ISP :: Главная</h1>
    {{current_user.username}} ({{current_user.email}})

    
    <div class="profile">
    
        <div class="topmenu">
            <span>
            <a href="/">main</a>
            <a href="/logout">logout</a>
            <a href="/admin">admin</a>
            </span>            
        </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
	    <div class="error">
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
        </div>
      {% endif %}
    {% endwith %}


    </div>

    <div class="infobox">
        <table>
            <tr>
              <td class='titlecol''>Тарифный план:</td>
              <td>VPS-1 (500 руб)<br>
            </tr>
            <tr>
              <td class='titlecol'>Баланс:</td>
              <td>0 RUR</td>          
            </tr>
            
            <tr>
              <td class='titlecol'>CPU:</td>
              <td>1 core</td>          
            </tr>
            <tr>
              <td class='titlecol'>RAM:</td>
              <td>2 GB</td>          
            </tr>
            <tr>
              <td class='titlecol'>HDD:</td>
              <td>20 GB (SSD)</td>          
            </tr>            
        </table>
    </div>



    <div class="infobox">
        <table>
            <tr>
                <td class='titlecol'>Мониторинг</td>
                <td><a href="https://cp.okerr.com/oauth2/login/demoisp/">перейти</a></td>
            </tr>
            <tr>
              <td class='titlecol'>Услуги:</td>
              <td>
                <table>
                {% for m in data.membership %}
                    <tr>
                    <td>
                    {{m.group}}
                    </td>
                    <td> 
                    {% if m.exp %}
                        {{m.exp}}
                    {% else %}
                        (навсегда)
                    {% endif %}
                    </td>
                    </tr>
                {% endfor %}
                </table>             
              </td>
            </tr>
        {% for p in data.projects %}
            <tr>
              <td class='titlecol'>Проект</td>
              <td><a href="https://cp.okerr.com/oauth2/login/demoisp/i/{{p.textid}}">{{p.name}}</a></td>
            </tr>
            <tr>
              <td class='titlecol'>Сводка</td>
              <td>OK: {{p.sum.OK}}, ERR: {{p.sum.ERR}}</td>
            </tr>            
            <tr>
              <td class='titlecol'>Проблемы</td>
              <td>
                <ul>
                {% for i in p.err %}
                    <li><a href='https://cp.okerr.com/oauth2/login/demoisp/i/{{p.textid}}/{{i}}'>{{i}}</a>
                {% endfor %}
                </ul>
              </td>
            </tr>            
        {% endfor %}
        </table>
        
    </div>
    
    <p>
    // <a href="https://github.com/yaroslaff/demoisp">source code (github)</a>

</body>

</html>
